[Unit]
Description=Vinskis Great Button Game

[Container]
Image=localhost/vinskis-great-button-game_btn-game:latest
ContainerName=btn-game
Volume=/home/lauri/log/vinskis-great-button-game.fi/gunicorn:/usr/src/app/log/gunicorn
Volume=/home/lauri/sqlite/button-game.db:/usr/src/app/button-game.db
PodmanArgs=--publish %i:%i
Exec=-b 0.0.0.0:%i

[Install]
WantedBy=default.target

[Service]
Restart=always
RestartSec=5
TimeoutStartSec=900
