body {
  background-color: #41aba0;
  margin: 0;
  overflow: hidden;
}

h1 {
  margin: 0.3em;
  user-select: none;
  -webkit-user-select: none;
}

#clear-cache-btn {
  z-index: 15;
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 7em;
  height: 3em;
}

#btn {
  z-index: 15;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 17em;
  height: 17em;
}

#btn-color {
  z-index: 15;
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 84%;
  height: 78%;
  background-color: red;
  border-radius: 50%;
}

#score-rect {
  z-index: 10;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #f5faf9;
  opacity: 0.6;
  width: 7em;
  height: 7em;
  text-align: center;
  margin-top 0.5em;
}

#shop-btn {
  z-index: 12;
  position: absolute;
  right: 0;
  top: 0;
  width: 7em;
  height: 5em;
  opacity: 0.9;
  background-color: #eb9f1c;
}

#speaker {
  z-index: 20;
  position: absolute;
  right: 1em;
  top: 6em;
}

.speaker-mute {
  filter: grayscale(100%);
}

#shop-items {
  display: none;
  /* display: grid; */
  gap: 0.2em;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 20;
  background-color: #85dde6;
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: 70%;
  transform: translateX(-50%) translateY(-50%);
  outline: 0.2em solid black;
}

@media screen and (min-width: 1001px) {
  .shop-items-cols {
    grid-template-columns: auto auto auto;
  }
}

@media screen and (min-width: 701px) and (max-width: 1000px) {
  .shop-items-cols {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 700px) {
  .shop-items-cols {
    grid-template-columns: auto;
  }
}

.shop-item {
  display: grid;
  padding: 0em;
  outline: 0.2em solid black;
}

.shop-item-title {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  margin: 0.2em 0 0 0.2em;
}

.shop-item-level {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
  margin: 0.4em 0.2em 0 0;
}

.shop-item-img {
  grid-column: 1 / span 1;
  grid-row: 2 / span 2;
  margin: 0.2em;
  height: 5em;
  width: 5em;
}

.shop-item-text {
  grid-column: 2 / span 2;
  grid-row: 2 / span 2;
  height: 6em;
  width: 10em;
  margin: 0 0.2em 0.8em;
}

.shop-item-price {
  grid-column: 1 / span 2;
  grid-row: 4 / span 1;
  margin: 0 0 0 0.2em;
}

.shop-item-btn {
  grid-column: 3 / span 2;
  grid-row: 4 / span 1;
  background-color: #eb9f1c;
  height: 3em;
  width: 4em;
  margin: 0 0.2em 0.2em 0;
}

.title {
  z-index: 10;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .title h1 {
    font-size: 1.5em;
  }
}

.autoclicker-hand {
  position: absolute;
  top: 8em;
  width: 3em;
  height: 3em;
  z-index: 15;
}

.autoclicker-push-btn {
  animation-name: autoclicker-push-button;
  animation-duration: 2s;
  /* animation-timing-function: linear; */
  animation-iteration-count: infinite;
}

#color-wheel-svg {
  display: none;
}

#color-wheel {
  display: none;
  position: absolute;
  bottom: 0;
  z-index: 14;
}

.bananas {
  display: none;
  position: absolute;
  height: 7em;
  width: 7em;
  z-index: 20;
}

.blue-star-color {
  background-color: #85dde6;
}

.pink-star-color {
  background-color: #db7bdb;
}

.star {
  z-index: 5;
  position: absolute;
  width: 3em;
  aspect-ratio: 1;
  clip-path: polygon(50% 0,
    calc(50%*(1 + sin(.4turn))) calc(50%*(1 - cos(.4turn))),
    calc(50%*(1 - sin(.2turn))) calc(50%*(1 - cos(.2turn))),
    calc(50%*(1 + sin(.2turn))) calc(50%*(1 - cos(.2turn))),
    calc(50%*(1 - sin(.4turn))) calc(50%*(1 - cos(.4turn))) 
   ); 

  animation-name: falling-and-rotating-cw;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#chart-container {
  display: inline-block;
  width: 80%;
  /* height: 80%; */
  background-color: white;
}

#chart-btns {
  display: inline-block;
  width: 20%;
}

@keyframes falling-and-rotating-cw {
  from {
    top: -5%;
  }
  to {
    top: 105%;;
    transform: rotate(2turn);
  }
}

@keyframes falling-and-rotating-ccw {
  from {
    top: -5%;
  }
  to {
    top: 105%;;
    transform: rotate(-2turn);
  }
}

@keyframes autoclicker-push-button {
  50% {
    top: 50%;
    left: 50%;
  }
}
