<!DOCTYPE html>

<html>
  <head>
    <title>Vinkis Great Button Game</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <meta 
      name="viewport" 
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    >
    <script defer src="/static/js/app.js" ></script>
  </head>
  
  <body>
    <div id="score-rect">
      <h1>Score</h1>
      <h1 id="score"></h1>
    </div>

    <button 
      id="shop-btn" 
      type="button"
      onclick="onPressShopBtn()"
    >
      <h1 id="shop-btn-title"></h1>
    </button>

    <input 
      id="speaker"
      type="image"
      src="/static/img/speaker.svg"
      width="30px"
      height="30px"
      onclick="onPressSpeaker()"
    >

    <div id="btn">
      <img 
        src="/static/img/button.png"
        width="100%"
        height="100%"
      >
      <div 
        id="btn-color"
        onclick="onPressButton(true)"
      >
      </div>
    </div>

    <img 
      id="color-wheel-svg" 
      src="/static/img/color-wheel.svg"
    >

    <canvas 
      id="color-wheel" 
      width="150" 
      height="150"
    >
    </canvas>

    <button 
      id="clear-cache-btn"
      onclick="onPressClearCache()"
    >
      Clear cache
    </button>

    <div id="shop-items" class="shop-items-cols"></div>

    <div class="title">
      <h1>Vinskis Great Button Game</h1>
    </div>

  </body>
</html>
