<!DOCTYPE html>

<html>
  <head>
    <title>Vinkis Great Button Game</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <meta 
      name="viewport" 
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    >
    <script defer src="/static/js/app.js" ></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/eruda"></script> -->
    <!-- <script defer src="/static/js/eruda-toggle.js" ></script> -->
  </head>

  <body>
    <div id="score-rect">
      <h1>Score</h1>
      <h1 id="score"></h1>
    </div>

    <button 
      id="shop-btn" 
      type="button"
      onclick="onPressShopBtn()"
    >
      <h1 id="shop-btn-title"></h1>
    </button>

    <input 
      id="btn"
      type="image" 
      src="/static/img/button.png"
      onclick="onPressButton()"
    />

    <div class="title">
      <h1>Vinskis Great Button Game</h1>
    </div>

    <div id="shop-items"></div>

  </body>
</html>
